*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    box-sizing: border-box;
}
/* font-family: 'Kaushan Script', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif; */
/* -------------HEADER-------------- */
.header {
    width: 100%;
}
.header__body {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    align-items: center;
    margin: 0 auto;
    padding: 15px 10px;
}
.header__logo {
    transition: 0.4s;
    color:#95E1D3;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
}
.header__logo:hover{
    cursor: pointer;
    transform: scale(1.2);
}
.header__menu {
    display: flex;
    padding: 0 10px;
    align-items: center;
}
.header__menu-item {
    margin-left: 60px;
    cursor: pointer;
    transition: 0.4s;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #95E1D3;
    padding: 10px 0;
    border-bottom: 3px solid #f3818100;
}
.header__menu-item:hover{
    color: #F38181;
    border-bottom: 3px solid #F38181;
}

/* -------------HEADER-------------- */
.main{
    max-width: 1200px;
    margin: 0 auto;
}
.main__content {
    max-width: 325px;
    height: 136px;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.main__content-text {
    font-family: 'Kaushan Script';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #333333;
    animation: slide-down 1s linear;
}
.main__content-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    color: #333333;
    animation: slide-up 1s linear;
    
}
@keyframes slide-down{
    0%{
        transform: translateY(-130px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes slide-up{
    0%{
        transform: translateX(250px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}
hr{
    border: 4px solid #F38181;
    width: 60px;
    animation: hr 0.5s linear;
}
@keyframes hr{
    0%{
        border: 0px solid #F38181;
    }
    100%{
        border: 4px solid #F38181;
    }
}

.main__block {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    animation: blocks 1s linear;
}
@keyframes blocks{
    0%{
        transform: translateY(300px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}
.main__block-card { 
    width: 327px;
    margin: 20px auto; 
}
